<!-- 


-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecoleta</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:family=Ubuntu:wght@300;700&display=swap" rel="stylesheet">
   
    <link rel="stylesheet" href="styles/estilos.css">
    <link rel="stylesheet" href="styles/home.css">
   <link rel="stylesheet" href="styles/modal.css">
    
    <link rel="stylesheet" href="styles/responsive.css">
    
</head>
<body>
    <div id="page-home">

        <div class="content ">

            <header> 
              
              <img src="/assets/logo.svg" alt="logo ecoleta" >
              
              <a href="createpoint"> <img src="/assets/log-in.svg" alt=""> cadastre um ponto de coleta </a>
                  
                
            </header>
            <main>
   
                <h1>seu marketplaces de coleta de resuidos</h1>
    
                <p>ajudamos as pessoas a encontrar pontos de coleta de forma  eficientes.</p>
                
                <a href="#"> <span></span> <strong>pesquisar pontos de coleta</strong> </a>
                    
                 
              
            </main>
 
        </div>

    </div>


</div>

{%include "partials/modal.html"%}
   <script src="/scripts/index.js"></script>

</body>
</html>